body {
  margin: 40px;
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ddd;
}

.info-container {
  grid-area: 2 / 2 / 3 / 3;
  width: 600px;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  font-size: 100%;
  border-color: #666;

}
.box1 {
  background-color: #fff;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 0 2px 2px #aaa;
  border-radius: 5px;
}
title {
  grid-area: 2 / 2;
  text-align: center;
  color: #FF0000;
}
.img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.columnfit {
  width: 70%;
  height: auto;
  margin: 20px;

}

.round {
  border-radius: 50%;
  box-shadow: 0 0 0 3px grey, 0 0 12px #333;
}
p {
  grid-area: 2 / 2;
  text-align: left;
  color: #666;
}

.movies p {
  margin-left: 10px;
}

.button {
  width: 250px;
  background-color: #ff0000;
  padding: 5px 0;
  margin: 50px 0;
  text-align: center;
  text-decoration:none;
  color: #fff;
  border-radius: 5px;
}
.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration:none;
  color: #ccc;
}
.links {
  width: 80%;
  height: 100px;
  padding-left: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  color: #ff0000;
  text-align: center;
}
h4 {
  text-align: center;
  color: #666;
}
.movies {
  display: grid;
  grid-template: 100px 250px 250px 250px / 150px 1fr;
}
.moviesheader {
  grid-area: 1 / 1 / 2 / 3;
}
.moviesimg1 {
  grid-area: 2 / 1 / 3 / 2;
}
.desc1 {
  grid-area: 2 / 2 / 3 / 3;
}
.moviesimg2 {
  grid-area: 3 / 1 / span 1 / span 1;
}
.desc2 {
  grid-area: 3 / 2 /span 1 / span 1;
}
.moviesimg3 {
  grid-area: 4 / 1 / span 1 / span 1;
}
.desc3 {
  grid-area: 4 / 2 / span 1 / span 1;
}
