body {
  margin: 40px;
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ddd;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (3, 100px);
  color: #000;
}
.info-container {
  grid-area: 2 / 2 / 3 / 3;
  width: 400px;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  font-size: 100%;
  border-color: #666;

}
.box1 {
  background-color: #fff;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 0 2px 2px #aaa;
  border-radius: 5px;
}
title {
  grid-area: 2 / 2;
  text-align: center;
  color: #FF0000;
}
.img {
  grid-area: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.round {
  border-radius: 50%;
  box-shadow: 0 0 0 3px grey, 0 0 12px #333;
}
p {
  grid-area: 2 / 2;
  text-align: left;
}
.button {
  width: 250px;
  background-color: #ff0000;
  padding: 5px 0;
  margin: 50px 0;
  text-align: center;
  text-decoration:none;
  color: #fff;
}
.flexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration:none;
  color: #ccc;
}
.links {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  color: #ff0000;
}
